
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userName"] == null || Session["password"] == null)
    {

        Response.Redirect("/Admin/errorPage/");
    }
 }





        <header>
    <!--WebSite Header-->
    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-7"><h1><strong>My Class<small>.com</small></strong></h1></div>
            <div class="col-sm-1"> <strong> <a style="font-size:x-large" href="/Home/Index/" onclick="goToHome()">Log Out</a> </strong> </div>
         </div>

        <ul class="nav nav-pills">
        <li><a href="/Admin/AdminDashBoard/">DashBoard</a></li>
        <li><a href="/Admin/Teacher/">Teachers</a></li>
        <li><a href="/Admin/Class/">Classes</a></li>
        <li><a href="/Admin/Student/">Students</a></li>
    </ul>

    </div>
    </header>

    
